/*============= レース情報エリア設定 =============*/
.race_contents {
    margin: 0 auto;
    width: 100%;
}


/*============= レースヘッダ情報 =============*/
.race_contents_head {
    margin: 50px auto 0;
    width: 85vw;
    height: 150px;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    position: relative;
}
.race_contents_head_wrapper {
    margin: 15px auto;
    width: 100%;
    height: 120px;
}
/* レース見出し設定 */
.race_contents_head_main {
    margin: 0 auto;
    width: fit-content;
    height: 120px;
    display: flex;
    justify-content: center;
}
.race_contents_head_main_racegrade {
    width: 125px;
    height: 110px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 60pt;
    text-align: center;
    border: solid 1px black;
    background-color: #f1f35e;
}
.race_contents_head_main_race_name {
    height: 70px;
    display: flex;
}
.race_contents_head_main_race_name_numbering {
    padding: 50px 0 0;
    font-weight: bold;
}
.race_contents_head_main_race_name_title {
    font-size: 60px;
}
.race_contents_head_main_race_name_subtitle {
    height: 25px;
}
.race_contents_head_main_race_info {
    height: 25px;
}
/* レース賞設定 */
.race_content_head_gift,
.race_content_head_subGift {
    width: 100%;
}

/*============= レース情報選択設定 =============*/
.race_contents_main{
    margin: 5% auto;
    width: 65%;
}
.race_content_score {
    margin: 0;
}
.race_contents_main_items {
    background-color: #eeeeee;
}
.race_contents_main_items_raceTabs {
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}
.race_contents_main_items_raceScores {
    padding: 3%;
    margin: 0 auto;
    width: 90%;
    background-color: #eeeeee;
}
.race_contents_main_items_raceScores_Infos {
    padding: 3%;
}
.race_contents_main_items_raceScores_kind {
    padding: 0;
    margin: 0 auto 0;
}
.race_contents_main_items_raceTabs,
.race_contents_main_items_raceScores_kind {
    list-style: none;
    display: flex;
}
.race_contents_main_items_raceTabs li,
.race_contents_main_items_raceScores_kind li {
    padding: 22px 0;
    margin: 0;
    width: 160px;
    text-align: center;
    background-color: rgb(161, 145, 125);
}
.race_contents_main_items_raceTabs li.active,
.race_contents_main_items_raceScores_kind li.active {
    background-color: rgb(250, 235, 215);
}

/*============= テーブル設定 =============*/
.race_contents_main_items_raceScores_Infos {
    background-color: rgb(250, 235, 215);
}
.race_contents_main_items_raceScores_Infos_result_item table {
    margin: 0 auto;
}
/* テーブル共通 */
table,
table th,
table td {
    border: 0 solid #333;
}
table {
    text-align: center;
    background-color: #353b50;
}

/* レース結果 - タグ */
.result_table_row_tag {
    height: 52px;
    background-color: #353b50;
    color: white;
}
.result_table_col_goal,
.result_table_col_frame,
.result_table_col_number,
.result_table_col_def,
.result_table_col_favorite {
    width: 40px;
}
.result_table_col_name {
    width: 160px;
}
.result_table_col_rank {
    width: 85px;
}
.result_table_col_point {
    width: 60px;
}
.result_table_col_trainer {
    width: 165px;
}
.result_table_col_time {
    width: 60px;
}
.result_table_col_corner {
    width: 140px;
}
.result_table_col_furlong {
    width: 45px;
}

/* レース結果 - データ */
.result_table_rows {
    height: 30px;
}
.result_table_frame{
    width: 40px;
    height: 40px;
}
.result_table_frame img{
    display: block;
}

/* レース結果 - 追加情報 */
.result_ex_info {
    margin: 15px 0 0;
}
.result_ex_info_table {
    width: 100%;
    border: 0 solid #000;
    background-color: #353b50;
}
.result_ex_info_table th {
    /* border: 1px solid #000; */
    background-color: #ffffff;
}
.result_ex_info_table_title {
    width: 132px;
}
.result_ex_info_table_value {
    width: auto;
}


/* 出馬表 - タグ */
.runner_table_row_tag{
    height: 30px;
    background-color: #353b50;
    color: white;
}
.runner_table_col_frame,
.runner_table_col_number {
    width: 40px;
}
.runner_table_col_name_etc {
    width: 160px;
}
.runner_table_col_ranks {
    width: 85px;
}
.runner_table_col_befores {
    width: 155px;
}

/* 出馬表 - データ */
.runner_table_rows {
    height: 170px;
}
.runner_table_frame,
.runner_table_number {
    width: 40px;
}
.runner_table_name_etc {
    width: 160px;
}
.runner_table_ranks {
    width: 85px;
}
.runner_table_befores {
    width: 155px;
}

/* 出馬表 - 前走 */
.runner_table_rows .runner_table_befores {
    position: relative;
    /* background-color: #d0d0d0; */
}
.runner_table_befores div {
    position: absolute;
}

/* 出馬表 - 1走前 */
.runner_table_before_date,
.runner_table_before_race_name,
.runner_table_before_result,
.runner_table_before_trainer,
.runner_table_before_top_runner,
.runner_table_before_course,
.runner_table_before_condition,
.runner_table_before_corner_pass {
    left: 3px;
} 
.runner_table_before_prace,
.runner_table_before_number,
.runner_table_before_favorite,
.runner_table_before_training_runk,
.runner_table_before_goal_time,
.runner_table_before_top_runner_def,
.runner_table_before_furlong_time {
    right: 3px;
}

.runner_table_before_date,
.runner_table_before_prace {
    top: 3px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_before_race_name {
    top: 18px;
    font-size: 12pt;
}
.runner_table_before_result {
    top: 38px;
    font-size: 18pt;
    font-weight: bold;
}
.runner_table_before_result_unit {
    top: 53px;
    left: 35px;
    font-size: 8pt;
}
.runner_table_before_number {
    top: 41px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_before_favorite {
    top: 53px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_before_trainer {
    top: 67px;
    font-size: 12pt;
}
.runner_table_before_training_runk {
    top: 82px;
    font-size: 9pt;
}
.runner_table_before_course {
    top: 95px;
    font-size: 12pt;
}
.runner_table_before_goal_time {
    top: 95px;
    font-size: 12pt;
}
.runner_table_before_condition {
    top: 115px;
    font-size: 10pt;
}
.runner_table_before_corner_pass,
.runner_table_before_furlong_time {
    bottom: 20px;
    font-size: 9pt;
}
.runner_table_before_top_runner,
.runner_table_before_top_runner_def {
    bottom: 3pt;
    font-size: 8pt;
    color: #919191;
}
.runner_table_before_top_runner_def {
    left: 20px;
}
.runner_table_before_training_couse {
    display: none;
}

/* 出馬表 - 2走前 */
.runner_table_2before_date,
.runner_table_2before_race_name,
.runner_table_2before_result,
.runner_table_2before_trainer,
.runner_table_2before_top_runner,
.runner_table_2before_course,
.runner_table_2before_condition,
.runner_table_2before_corner_pass {
    left: 3px;
} 
.runner_table_2before_prace,
.runner_table_2before_number,
.runner_table_2before_favorite,
.runner_table_2before_training_runk,
.runner_table_2before_goal_time,
.runner_table_2before_top_runner_def,
.runner_table_2before_furlong_time {
    right: 3px;
}

.runner_table_2before_date,
.runner_table_2before_prace {
    top: 3px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_2before_race_name {
    top: 18px;
    font-size: 12pt;
}
.runner_table_2before_result {
    top: 38px;
    font-size: 18pt;
    font-weight: bold;
}
.runner_table_2before_result_unit {
    top: 53px;
    left: 35px;
    font-size: 8pt;
}
.runner_table_2before_number {
    top: 41px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_2before_favorite {
    top: 53px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_2before_trainer {
    top: 67px;
    font-size: 12pt;
}
.runner_table_2before_training_runk {
    top: 82px;
    font-size: 9pt;
}
.runner_table_2before_course {
    top: 95px;
    font-size: 12pt;
}
.runner_table_2before_goal_time {
    top: 95px;
    font-size: 12pt;
}
.runner_table_2before_condition {
    top: 115px;
    font-size: 10pt;
}
.runner_table_2before_corner_pass,
.runner_table_2before_furlong_time {
    bottom: 20px;
    font-size: 9pt;
}
.runner_table_2before_top_runner,
.runner_table_2before_top_runner_def {
    bottom: 3pt;
    font-size: 8pt;
    color: #919191;
}
.runner_table_2before_top_runner_def {
    left: 20px;
}
.runner_table_2before_training_couse {
    display: none;
}


/* 出馬表 - 3走前 */
.runner_table_3before_date,
.runner_table_3before_race_name,
.runner_table_3before_result,
.runner_table_3before_trainer,
.runner_table_3before_top_runner,
.runner_table_3before_course,
.runner_table_3before_condition,
.runner_table_3before_corner_pass {
    left: 3px;
} 
.runner_table_3before_prace,
.runner_table_3before_number,
.runner_table_3before_favorite,
.runner_table_3before_training_runk,
.runner_table_3before_goal_time,
.runner_table_3before_top_runner_def,
.runner_table_3before_furlong_time {
    right: 3px;
}

.runner_table_3before_date,
.runner_table_3before_prace {
    top: 3px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_3before_race_name {
    top: 18px;
    font-size: 12pt;
}
.runner_table_3before_result {
    top: 38px;
    font-size: 18pt;
    font-weight: bold;
}
.runner_table_3before_result_unit {
    top: 53px;
    left: 35px;
    font-size: 8pt;
}
.runner_table_3before_number {
    top: 41px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_3before_favorite {
    top: 53px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_3before_trainer {
    top: 67px;
    font-size: 12pt;
}
.runner_table_3before_training_runk {
    top: 82px;
    font-size: 9pt;
}
.runner_table_3before_course {
    top: 95px;
    font-size: 12pt;
}
.runner_table_3before_goal_time {
    top: 95px;
    font-size: 12pt;
}
.runner_table_3before_condition {
    top: 115px;
    font-size: 10pt;
}
.runner_table_3before_corner_pass,
.runner_table_3before_furlong_time {
    bottom: 20px;
    font-size: 9pt;
}
.runner_table_3before_top_runner,
.runner_table_3before_top_runner_def {
    bottom: 3pt;
    font-size: 8pt;
    color: #919191;
}
.runner_table_3before_top_runner_def {
    left: 20px;
}
.runner_table_3before_training_couse {
    display: none;
}

/* 出馬表 - 4走前 */
.runner_table_4before_date,
.runner_table_4before_race_name,
.runner_table_4before_result,
.runner_table_4before_trainer,
.runner_table_4before_top_runner,
.runner_table_4before_course,
.runner_table_4before_condition,
.runner_table_4before_corner_pass {
    left: 3px;
} 
.runner_table_4before_prace,
.runner_table_4before_number,
.runner_table_4before_favorite,
.runner_table_4before_training_runk,
.runner_table_4before_goal_time,
.runner_table_4before_top_runner_def,
.runner_table_4before_furlong_time {
    right: 3px;
}

.runner_table_4before_date,
.runner_table_4before_prace {
    top: 3px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_4before_race_name {
    top: 18px;
    font-size: 12pt;
}
.runner_table_4before_result {
    top: 38px;
    font-size: 18pt;
    font-weight: bold;
}
.runner_table_4before_result_unit {
    top: 53px;
    left: 35px;
    font-size: 8pt;
}
.runner_table_4before_number {
    top: 41px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_4before_favorite {
    top: 53px;
    font-size: 8pt;
    color: #919191;
}
.runner_table_4before_trainer {
    top: 67px;
    font-size: 12pt;
}
.runner_table_4before_training_runk {
    top: 82px;
    font-size: 9pt;
}
.runner_table_4before_course {
    top: 95px;
    font-size: 12pt;
}
.runner_table_4before_goal_time {
    top: 95px;
    font-size: 12pt;
}
.runner_table_4before_condition {
    top: 115px;
    font-size: 10pt;
}
.runner_table_4before_corner_pass,
.runner_table_4before_furlong_time {
    bottom: 20px;
    font-size: 9pt;
}
.runner_table_4before_top_runner,
.runner_table_4before_top_runner_def {
    bottom: 3pt;
    font-size: 8pt;
    color: #919191;
}
.runner_table_4before_top_runner_def {
    left: 20px;
}
.runner_table_4before_training_couse {
    display: none;
}
